<div {{ attributes }}>
    <input
            type="search"
            data-model="query"
    >

    <ul>
        {% for user in this.users %}
            <li>{{ user.id }} - {{ user.email }}</li>
        {% endfor %}
    </ul>
</div>